# Ignore workspace
OpenMowerOS/src/workspace

# Ignore src/image
OpenMowerOS/src/image/**

# Ignore build.log
build.log

# Ignore custompios_path
OpenMowerOS/src/custompios_path

# Ignore vagrant
vagrant

# Stop tracking (but keep locally) the legacy CustomPiOS dir; user will prune files manually
CustomPiOS/

