[Unit]
Description=OpenMower (Docker)
Wants=network-online.target
After=docker.service network-online.target NetworkManager.service

[Service]
Type=simple
User=openmower
Group=openmower
SupplementaryGroups=docker
Restart=always
RestartSec=15s
RestartPreventExitStatus=77
TimeoutStartSec=1h
TimeoutStopSec=120s
ExecStart=/usr/local/sbin/openmower-service.sh
ExecStop=/usr/bin/docker stop -t 10 openmower
ExecStopPost=/usr/bin/docker rm -f openmower

[Install]
WantedBy=multi-user.target
